<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.scheduler.dao.ISubjectDao">
    <sql id="subjectBody">
        subjects.subject_id as id,
        subjects.subject_name as name
    </sql>
    <select id="getById" resultMap="subjectResultMap">
        SELECT
        <include refid="subjectBody"/>,
        FROM subject
        WHERE subject.subject_id = #{id}
    </select>
    <insert id="insert">
        INSERT INTO subjects (subject_id, subject_name)
        VALUES (#{id}, #{subjectName})
    </insert>
    <resultMap id="subjectResultMap" type="com.solvd.scheduler.bin.Subject">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
</mapper>