<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.scheduler.dao.ISubjectDAO">
    <sql id="subjectBody">
        subjects.subject_name as name
    </sql>

    <select id="getById" parameterType="Int" resultMap="subjectResultMap">
        SELECT
        <include refid="subjectBody"/>
        FROM subjects
        WHERE subject_id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO subjects (subject_name)
        VALUES (#{subjectName})
    </insert>

    <resultMap id="subjectResultMap" type="com.solvd.scheduler.bin.Subject">
        <result property="name" column="name"/>
    </resultMap>
</mapper>