<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.scheduler.dao.IsyllabusDAO">
    <sql id="syllabusBody">
        syllabus.student_groups_group_id as student_id,
        syllabus.subjects_subject_id as subject_id,
        syllabus.major as major
    </sql>
    <select id="getById" resultMap="syllabusResultMap">
        SELECT
        <include refid="syllabusBody"/>,
        <include refid="com.solvd.scheduler.dao.ISubjectDAO.subjectBody"/>
        FROM Syllabus
        JOIN Subjects ON Syllabus.subjects_subject_id = Subjects.subject_id
        WHERE student_groups_group_id = #{studentGroupId}
    </select>
    <update id="update">
        UPDATE Syllabus
        SET major=#{major}
        WHERE student_groups_group_id = #{studentGroupId}
    </update>
    <delete id="deleteById">
        DELETE FROM Syllabus
        WHERE student_groups_group_id = #{studentGroupId}
        AND subjects_subject_id = #{subjectId}
    </delete>
    <insert id="insert">
        INSERT INTO syllabus (student_groups_group_id, subjects_subject_id, major)
        VALUES (#{studentGroupId}, #{subjectId}, #{major})
    </insert>
    <resultMap id="syllabusResultMap" type="com.solvd.scheduler.bin.Syllabus">
        <result property="studentGroupId" column="syllabus_id"/>
        <result property="subjectId" column="syllabus_name"/>
        <result property="major" column="syllabus_major"/>
        <collection property="syllabus" resultMap="com.solvd.scheduler.dao.ISubjectDAO.subjectResultMap"/>
    </resultMap>
</mapper>