<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.scheduler.dao.ITeacherDAO">
    <sql id="teacherBody">
        teachers.teacher_id as teacher_id,
        teachers.name as teacher_name,
        teachers.subjects_subject_id as subject_id
    </sql>

    <select id="getById" resultMap="teacherResultMap">
        SELECT
        <include refid="teacherBody"/>,
        <include refid="com.solvd.scheduler.dao.ISubjectDAO.subjectBody"/>
        FROM teachers
        JOIN Subjects ON teachers.subjects_subject_id = Subjects.subject_id
        WHERE teachers.teacher_id = #{id}
    </select>

    <update id="update">
        UPDATE teachers
        SET name=#{name}, subjects_subject_id=#{subject.id}
        WHERE teacher_id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM teachers WHERE teacher_id = #{id}
    </delete>

    <insert id="insert">
        INSERT INTO teachers ( name, subjects_name)
        VALUES (#{name}, #{subject.id})
    </insert>

    <resultMap id="teacherResultMap" type="com.solvd.scheduler.bin.Teacher">
        <id property="id" column="teacher_id"/>
        <result property="name" column="teacher_name"/>
        <collection property="subject" resultMap="com.solvd.scheduler.dao.ISubjectDAO.subjectResultMap"/>
    </resultMap>
</mapper>